.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #DADDE1;
    background-color: #fff;
    border-radius: 20px;
    padding: 24px;
    box-sizing: border-box;
}

.product-card-img {
    flex-shrink: 0;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
}

.product-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.product-card-name {
    color: #101828;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin: 0 0 21px 0;
    text-align: center;
}

.product-card-actions {
    display: flex;
    align-items: center;
}

.product-card-price {
    color: #101828;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin: 0 12px 0 0;
}

.product-card-favorites {
    fill: #101828;
    cursor: pointer;
}

.is-favorites {
    fill: #E44848;
}

.product-card-rating {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.product-card-location {
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.product-card-location svg {
    margin-right: 4px;
}

.product-card-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.product-card-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #475467;
    margin-bottom: 24px;
}

.product-card-tags {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}
